---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1>Hennan ja Samin häät</h1>


<div class="pswp-gallery" id="my-gallery">
  {# Iterating all objects in _data/photos.json #}
  {% for photo in photos -%}

  {# Last object in json is empty so ignore that #}
  {% if photo.url | length %}
  <a href="{{ photo.url }}" data-pswp-width="{{ photo.width }}" data-pswp-height="{{ photo.height }}" target="_blank">
    <img src="{{ photo.thumb }}" alt=""/>
  </a>
  {% endif %}
  {%- endfor %}
</div>
